<ion-content>
    <ion-item-group>
        <ion-item>
            <ion-range [(ngModel)]="length">
                <!--<ion-icon range-left></ion-icon>
                <ion-icon range-right></ion-icon>-->
                <ion-badge range-left>{{minimum}}</ion-badge>
                <ion-badge range-right>{{maximum}}</ion-badge>
            </ion-range>
        </ion-item>
        <ion-item>
            <ion-label>Letters</ion-label>
            <ion-checkbox color="dark" [(ngModel)]="letters"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Numbers</ion-label>
            <ion-checkbox color="dark" [(ngModel)]="numbers"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Symbols</ion-label>
            <ion-checkbox color="dark" [(ngModel)]="symbols"></ion-checkbox>
        </ion-item>
    </ion-item-group>
    <button ion-button color="danger" full (click)="randomizePassword()"> Randomize</button>
</ion-content>