<ion-content>
    <ion-item>
        <ion-range [(ngModel)]="passwordConfig.length" [min]="minimum" [max]="maximum" snaps="true">
            <ion-badge range-left>{{minimum}}</ion-badge>
            <ion-badge range-right>{{maximum}}</ion-badge>
        </ion-range>
    </ion-item>
    Char Detail Here
    <char-detail [header]="'Letter'" (output)="passwordConfig.upperCase=$event"></char-detail>
    <char-detail [header]="'Numbers'" (output)="passwordConfig.numbers=$event"></char-detail>
    <char-detail [header]="'Characters'" (output)="passwordConfig.characters=$event"></char-detail>
    <!--<ion-item-group>
        <ion-item>
            <ion-range [(ngModel)]="length">
                <ion-badge range-left>{{minimum}}</ion-badge>
                <ion-badge range-right>{{maximum}}</ion-badge>
            </ion-range>
        </ion-item>
        <ion-item>
            <ion-label>Letters</ion-label>
            <ion-checkbox color="dark" [(ngModel)]="passwordConfig.letters"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Numbers</ion-label>
            <ion-checkbox color="dark" [(ngModel)]="passwordConfig.numbers" checked="1"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Symbols</ion-label>
            <ion-checkbox color="dark" [(ngModel)]="passwordConfig.characters"></ion-checkbox>
        </ion-item>
    </ion-item-group>-->
    <button ion-button color="danger" full (click)="randomizePassword();createNewPassword();"> Randomize</button>
</ion-content>