<ion-header>
    <ion-navbar color="main">
        <ion-title>
            Vault
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-item-group>
        <div *ngFor="let letter of (alphabet | letterShow: entryController.entries)">
            <div>
                <ion-item-divider>{{letter}}</ion-item-divider>
                <ion-item *ngFor="let entry of entryController.entries | letterFilter: letter" (click)="selectEntry(entry)">{{entry.website | uppercase}}</ion-item>
            </div>
        </div>
    </ion-item-group>

    <ion-fab top right edge>
        <button ion-fab color="primary" (click)="addEntry()"><ion-icon name="add"></ion-icon></button>
        <!--<ion-fab-list>
            <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
            <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
            <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
            <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
        </ion-fab-list>-->
    </ion-fab>

</ion-content>