<ion-nav *ngIf="auth.authenticated || !auth.callAttempted" [root]="rootPage"></ion-nav>
<div *ngIf="!auth.authenticated && auth.callAttempted">
    <ion-header>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-title>Sign In</ion-title>
                </ion-col>

                <ion-col>
                    <ion-title text-right>Sign Up</ion-title>
                </ion-col>
            </ion-row>

        </ion-grid>
    </ion-header>

    <ion-list style="margin-top: 10%" margin-top>
        <ion-item>
            <ion-label color="primary" floating>User Name</ion-label>
            <ion-input type="text" [(ngModel)]="userName"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" floating>Password</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <ion-item>
            <button color="primary" ion-button full large (click)="signIn()">Full Button</button>
        </ion-item>
    </ion-list>
</div>